@import '../../sass/variables';

.row {
  cursor: pointer;
}

.getting-started {
  position: relative;
  .close {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .card-body {
    padding: 0
  }
}

.budget {
  .hidden {
    display: none
  }
  .expanded .hidden {
    display: flex
  }
  .amount {
    text-align: right;
  }
}

.recent {
  .amount {
    text-align: right;
  }
  .amount.negative {
    color: $negative;
  }
  .hidden {
    display: none
  }
  .expanded .hidden {
    display: flex
  }
  .row {
    padding-bottom: 1em;
    .description {
      .primary:empty::after {
        content: ".";
        visibility: hidden;
      }
      .additional {
        font-size: small;
        color: $black;
      }
    }
  }
}

@media (max-width: 767px) {
  .card {
    .container-fluid {
      padding-left: 2px;
      padding-right: 2px;
    }
  }
  .card-body {
    padding: 0.5rem;
  }
}