<h1>Reconcile Account</h1>

<div class="section">
  <h2>Select Account</h2>

  <form class="form-inline" [formGroup]="accountForm" (ngSubmit)="onChooseAccount()">
    <div class="form-group mx-sm-3 mb-2">
      <label for="accountId" class="sr-only">Account</label>
        <select class="form-control" id="accountId" formControlName="accountId">
          <option *ngFor="let account of selectAccounts" [value]="account.id">
            {{account.fullName | slice:0:50}}
          </option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Select Account</button>
  </form>
</div>

<div class="section">
  <h2>New Reconciliation</h2>

  <form [formGroup]="newReconcile" (ngSubmit)="startReconcile()">
    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label">Start Date</label>
      <div class="col-sm-9">
        <input formControlName="startDate" id="startDate" type="date" class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <label for="currency" class="col-sm-3 col-form-label">Beginning Balance</label>
      <div class="col-sm-9">
        <input formControlName="startBalance" id="startBalance" type="text" class="form-control"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label">End Date</label>
      <div class="col-sm-9">
        <input formControlName="endDate" id="endDate" type="date" class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <label for="currency" class="col-sm-3 col-form-label">Ending Balance</label>
      <div class="col-sm-9">
        <input formControlName="endBalance" id="endBalance" type="text" class="form-control" />
      </div>
    </div>
    <p *ngIf="error" class="error">{{error.message}}</p>
    <button type="submit" class="btn btn-primary" [disabled]="!newReconcile.valid">Start Reconciliation</button>
  </form>
</div>

<div class="section">
  <h2>Past Reconciliations</h2>

  <div *ngFor="let rec of pastReconciliations">
    Period: {{rec.startDate | date:"M/d/y"}} - {{rec.endDate | date:"M/d/y"}}<br>
    Beginning Balance: {{rec.startBalance | currencyFormat:account.precision:account.currency}}<br>
    Ending Balance: {{rec.endBalance | currencyFormat:account.precision:account.currency}}<br>
    <br>
  </div>
</div>

