@import '../../sass/variables';

.accordion {
    .btn-link {
        color: $black;
    }
    .card {
        margin: 0;
    }
    .btn-group-toggle {
        .btn-primary {
            background-color: transparent;
            color: $blue;
        }
    }
    h3 {
        font-size: 1rem;
    }
}