<h1>Settings</h1>

<div class="description">
  Use the forms below to change your settings.
</div>

<div class="section">
  <h2>General</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="server" class="col-sm-3 col-form-label">Server</label>
      <div class="col-sm-9">
        <input formControlName="server" id="server" type="text" class="form-control" placeholder="Server" />
      </div>
    </div>
    <p *ngIf="error" class="error">{{error.message}}</p>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Save</button>
  </form>

</div>

<div *ngIf="sessionService.getUser()">
  <div class="section">
    <h2>Change Password</h2>

    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <div class="form-group row">
        <label for="password" class="col-sm-3 col-form-label">New Password</label>
        <div class="col-sm-9">
          <input formControlName="password" id="password" type="password" class="form-control" />
        </div>
      </div>
      <div class="form-group row">
        <label for="password2" class="col-sm-3 col-form-label">Repeat Password</label>
        <div class="col-sm-9">
          <input formControlName="password2" id="password2" type="password" class="form-control" />
        </div>
      </div>
      <p *ngIf="changePasswordForm.controls.password2.errors?.mismatchedPassword">
        Passwords do not match.
      </p>
      <p *ngIf="changePasswordError" class="error">{{changePasswordError.message}}</p>
      <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">Save</button>
    </form>
  </div>

  <div class="section">
    <h2>API Keys</h2>

    <div class="container-fluid">
      <form *ngFor="let item of keyItems; let i = index" [formGroup]="item.form">
        <div class="row py-2">
          <div class="col-5">
            <input type="hidden" formControlName="id" id="id">
            {{item.form.value.id}}
          </div>
          <div class="col-5">
            <input type="text" formControlName="label" id="label">
          </div>
          <div class="col-2">
            <div *ngIf="item.exists && item.form.dirty"><a (click)="updateKey(item)">Update</a></div>
            <div *ngIf="item.exists"><a (click)="deleteKey(item)">Delete</a></div>
            <div *ngIf="!item.exists"><a (click)="postKey(item)">Save</a></div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-12">
          <a (click)="newKey()">Create new API key</a>
        </div>
      </div>
      <div class="row" *ngIf="keyError">
        <div class="col-12">
          <p class="error">{{keyError.message}}</p>
        </div>
      </div>
    </div>
  </div>
</div>